* {
	font-family: "Helvetica Neue";
}
body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0px 0px 0px 0px;
}
p {
	font-size: 20;
}
svg {
	background: #efefef;
}
text {
	font-size: 20;
}
.action {
	font-weight: bold
}
#title {
	font-size: 50;
	font-weight: bold
}