/*define global variables here*/
:root {

}

* {
	font-family: "Helvetica Neue";
}

body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0px 0px 0px 0px;
}

p {
	font-size: 20;
}

svg {
/* background: #efefef; */
background-color: black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  /* background: lightsteelblue; */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
	background: white;
}

text {
	font-size: 20;
}
/* .marker{
  fill: gold;
} */

.time {
	position: absolute;
	background-color: #000B14;
	color: white;
	bottom: 0;
	margin-left: 700;

}

#range1 {
	width: 400px;

}

.action {
	font-weight: bold
}
#title {
	font-size: 50;
	font-weight: bold
}
#ocean {
  fill: grey;
}


/*experimental night theme*/
.country{
  fill: #0b1c31;
  stroke: #f4d58d21;
}
#ocean {
  fill: #000B14;
}
text {
  font-size: 20;
  fill: #feffc8;
}
/* .marker{
  fill: #fcff3a;
} */
div.tooltip {
  background: white;
}

.searchBarWrapper{
  width:300;
  height:90;
  background-color: transparent;
  color: #feffc8;
  position:fixed;
  left:50%;
  margin-left:-150;
}

#searchBar{
  width:300;
  height:30;
  background-color: transparent;
  font-size: 20;
  color: #feffc8;
  border: 0px;
  position:fixed;
  left:50%;
  margin-left:-150;
}

#searchBar:focus{
  outline-width: 0;
}

.autoComplete_result{
  margin:.3rem;
  padding:.3rem .5rem;
  list-style:none;
  text-align:left;
  font-size:1rem;
  color: #feffc8;
  transition:all .1s ease-in-out;
  border-radius: .35rem;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:all .2s ease
}

.autoComplete_result::selection{
  color:rgba(#fff,0);
  background-color: red;
}
.autoComplete_result:hover{
  cursor:pointer;
  background-color: #0b1c31;
  font-weight: bold;
}
.autoComplete_highlighted{
  font-weight: 1500
  color: green;
}
.autoComplete_highlighted::selection{
  color: purple;
  background-color: yellow;
}
/*.autoComplete_selected{
  cursor:pointer;
  background-color:rgba(255,122,122,.15)}
@media only screen and (max-width:600px){*/
/*.autoComplete_wrapper{
  width:320px
}*/
/*#autoComplete{width:18rem;
  background-size:1.6rem;
  background-position:left 1.1rem top .75rem}
#autoComplete_list{margin:10px}}@media screen and (-webkit-min-device-pixel-ratio:0){
#autoComplete{border-width:1px}}@-moz-document url-prefix(){#autoComplete{background-size:1.2rem;
  background-origin:border-box;
  border-width:1px;
  background-position:left 1.1rem top .8rem}*/
