/*define global variables here*/
:root {
}

* {
	font-family: "Helvetica Neue";
}

body {
  overflow: hidden; /* Hide scrollbars */
  margin: 0px 0px 0px 0px;
}

p {
	font-size: 20;
}

svg {
/* background: #efefef; */
background-color: black;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  /* background: lightsteelblue; */
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
	background: white;
}

text {
	font-size: 20;
}
/* .marker{
  fill: gold;
} */

.time {
	position: absolute;
	background-color: #000B14;
	color: white;
	bottom: 0;
	margin-left: 700;

}

#range1 {
	width: 400px;

}

.action {
	font-weight: bold
}
#title {
	font-size: 50;
	font-weight: bold
}
#ocean {
  fill: grey;
}


/*experimental night theme*/
.country{
  fill: #0b1c31;
  stroke: #f4d58d21;
}
#ocean {
  fill: #000B14;
}
text {
  font-size: 20;
  fill: #feffc8;
}
/* .marker{
  fill: #fcff3a;
} */
div.tooltip {
  background: white;
}

.searchBarWrapper{
  width:300;
  height:90;
  background-color: transparent;
  color: white;
  position:fixed;
  left:50%;
  margin-left:-150;
}

#searchBar{
  width:300;
  height:30;
  background-color: transparent;
  color: white;
  border: 0px;
  position:fixed;
  left:50%;
  margin-left:-150;
}

